<ra-core>
	<common>
		<is-product-mode>YES</is-product-mode>

		<!--operator basic info -->
		<!-- Maldives: Indian/Maldives; Bravo: Asia/Riyadh; Somtel:; Palestine: 
			Asia/Jerusalem; -->
		<msisdn-prefix>970</msisdn-prefix>
		<local-timezone>Asia/Jerusalem</local-timezone>
		<operator-code>123_4</operator-code>

		<!--Unit: ms -->
		<sleep-duration-after-one-loop>1800000</sleep-duration-after-one-loop>
		<sleep-duration-of-subthread>10000</sleep-duration-of-subthread>
		<sleep-duration-of-paid>10000</sleep-duration-of-paid>

		<!--Unit: second, for reconsiliation of call time -->
		<deviation>
			<call-time>30</call-time>
			<duration>30</duration>
		</deviation>

		<!--Parallelly or Serially among reports -->
		<generate-order>Serially</generate-order>

		<!--Transition Status -->
		<transition-status active="0">
			<!-- for updating fileName -->
			<updating-filename>2</updating-filename>
		</transition-status>

		<one-side-nodata-comparison>1</one-side-nodata-comparison>
	</common>

	<feed-list>
		<!-- type=1**(MSC),2**(GPRS-Network),3**(billing) -->
		<!-- MSC feed, for Maldives, it should be in another database and server -->
		<feed type="101" active="0">
			<sql>select distinct file_name, file_size_bytes from call_count where
				feed_type=101 and (file_first_call_time >= ? and
				file_first_call_time &lt; ?) or (file_last_call_time >= ? and
				file_last_call_time &lt; ?)</sql>
		</feed>
		<!-- SGSN feed -->
		<feed type="201" active="0">
			<sql>select distinct a.file_name, b.file_size_bytes from ra_network
				a, call_count b where a.call_time >= ? and a.call_time &lt; ? and
				a.call_type=12 and a.file_name=b.file_name</sql>
		</feed>
		<!-- GGSN feed -->
		<feed type="202" active="0">
			<sql>select distinct a.file_name, b.file_size_bytes from ra_network
				a, call_count b where a.call_time >= ? and a.call_time &lt; ? and
				a.call_type=46 and a.file_name=b.file_name</sql>
		</feed>
		<!-- IN feed -->
		<feed type="301" active="0">
			<sql>select distinct a.file_name, b.file_size_bytes from ra_billing
				a, call_count b where a.call_time >= ? and a.call_time &lt; ? and
				a.billing_type=1 and a.file_name=b.file_name</sql>
		</feed>
		<!-- TAPOUT feed -->
		<feed type="302" active="0">
			<sql>select distinct a.file_name, b.file_size_bytes from ra_billing
				a, call_count b where a.call_time >= ? and a.call_time &lt; ? and
				a.billing_type=2 and a.file_name=b.file_name</sql>
		</feed>
		<!-- TAPIN feed -->
		<feed type="303" active="0">
			<sql>select distinct a.file_name, b.file_size_bytes from ra_billing
				a, call_count b where a.call_time >= ? and a.call_time &lt; ? and
				a.billing_type=3 and a.call_type=12 and a.file_name=b.file_name
			</sql>
		</feed>
	</feed-list>


	<report-list>
		<report name="MSC/Billing" type="0">
			<!--0: Disactive; 1: Active -->
			<active>0</active>
			<thread-num>10</thread-num>

			<!--0: No redo; 1: Redo -->
			<redo-switch>1</redo-switch>
			<short-active>0</short-active>
			<msc-filename-update>1</msc-filename-update>

			<!--Unit: day -->
			<start-date-before-current>-1</start-date-before-current>
			<start-date-before-redo>-2</start-date-before-redo>
			<execute-days-default>15</execute-days-default>

			<!-- 0-postpaid, 1-prepaid, blank-unspecific,all set -->
			<subscriber-type>0</subscriber-type>

			<sqls>
				<sql>
					<method>getMscList</method>
					<value>select * from calls_nodup where call_time >= ? and call_time
						&lt; ? and call_type in (1,2)</value>
				</sql>
				<sql>
					<method>getMscListRedo</method>
					<value>select * from calls_nodup_redo where call_time >= ? and
						call_time &lt; ? and call_type in (1,2)</value>
				</sql>
				<sql>
					<method>getBillingList</method>
					<value>select * from ra_billing where call_time >= ? and call_time
						&lt; ? and billing_type = 0 and call_type in (1,2)</value>
				</sql>
				<sql>
					<!--1: MSC only; 2: billing only. Notice order -->
					<detail-type>1,2</detail-type>
				</sql>
			</sqls>
		</report>

		<report name="MSC/IN" type="1" msc_feed_type="101"
			billing_feed_type="301">
			<active>0</active>
			<thread-num>10</thread-num>
			<redo-switch>1</redo-switch>
			<short-active>0</short-active>
			<msc-filename-update>1</msc-filename-update>
			<!--Unit: day -->
			<start-date-before-current>-1</start-date-before-current>
			<start-date-before-redo>-2</start-date-before-redo>
			<execute-days-default>90</execute-days-default>

			<!-- 0-postpaid, 1-prepaid, blank-unspecific,all set, 2-shortNum/serviceNum -->
			<subscriber-type filter_type=2>2</subscriber-type>

			<!-- For extending special operation from core -->
			<!-- <beans> Special matching operation for Maldives MSC/IN reports. If 
				no value, it means default matching class "com.mobius.ra.service.MatchingGeneral" 
				will be invoked. <bean id="msc_x_matching" class="com.mobius.ra.service.Matching4Maldives" 
				super="com.mobius.ra.service.MatchingAbstract"></bean> </beans> -->
			<sqls msc-pp-flg="POSTP_Process_CurrentHour" msc-pp-redo-flg="POSTP_Process_CurrentHour_Redo"
				billing-pp-flg="PP_RA_CurrentHour" billing-pp-redo-flg="PP_RA_CurrentHour_Redo">
				<sql>
					<method>getMscList</method>
					<value>select a.*, 0 as volume_download,0 as volume_upload,0 as
						charge_identifier,'' as sgsn_address, '' as ggsn_address, '' as
						pdp_address,''as file_name from calls_nodup a where call_time >= ?
						and call_time &lt; ? and call_type in (1,29) and duration>0 and
						s_imsi like '42506%' and (length(o_msisdn)>5 and o_msisdn not in
						(select msisdn from fraud_425_6.ra_msisdn_info
						where type=2) or
						(length(o_msisdn)&lt;=5 and o_msisdn in
						(1200,13033,144,1212,199,345,1236,1214,1255,188,333,10010)))</value>
				</sql>
				<sql>
					<method>getMscListRedo</method>
					<value>select a.*, 0 as volume_download,0 as volume_upload,0 as
						charge_identifier,'' as sgsn_address, '' as ggsn_address, '' as
						pdp_address,''as file_name from calls_nodup_redo a where call_time >= ?
						and call_time &lt; ? and call_type in (1,29) and duration>0 and
						s_imsi like '42506%' and (length(o_msisdn)>5 and o_msisdn not in
						(select msisdn from fraud_425_6.ra_msisdn_info
						where type=2) or
						(length(o_msisdn)&lt;=5 and o_msisdn in
						(1200,13033,144,1212,199,345,1236,1214,1255,188,333,10010)))</value>
				</sql>
				<sql>
					<method>getBillingList</method>
					<value>select * from ra_billing_nodup where call_time >= ? and
						call_time &lt; ? and billing_type = 1 and call_type = 1 and
						duration>0</value>
				</sql>
				<sql>
					<method>getBillingListRedo</method>
					<value>select * from ra_billing_nodup_redo where call_time >= ? and
						call_time &lt; ? and billing_type = 1 and call_type = 1 and
						duration>0</value>
				</sql>

				<sql>
					<!--3: MOC only; 4: Prepaid IN only. Notice order -->
					<detail-type>3,4</detail-type>
				</sql>
			</sqls>
		</report>

		<report name="MSC/TAPOUT" type="2" msc_feed_type="101"
			billing_feed_type="302">
			<active>0</active>
			<thread-num>5</thread-num>
			<redo-switch>1</redo-switch>
			<short-active>0</short-active>
			<msc-filename-update>0</msc-filename-update>
			<!--Unit: day -->
			<start-date-before-current>-1</start-date-before-current>
			<start-date-before-redo>-2</start-date-before-redo>
			<execute-days-default>15</execute-days-default>

			<!-- 0-postpaid, 1-prepaid, blank-unspecific,all set -->
			<subscriber-type></subscriber-type>

			<!-- <beans> Special matching operation for Maldives MSC/TAPOUT reports. 
				If no value, it means default matching class "com.mobius.ra.service.MatchingGeneral" 
				will be invoked. <bean id="msc_x_matching" class="com.mobius.ra.service.Matching4Maldives" 
				super="com.mobius.ra.service.MatchingAbstract"></bean> </beans> -->
			<sqls msc-pp-flg="POSTP_Process_CurrentHour" msc-pp-redo-flg="POSTP_Process_CurrentHour_Redo"
				billing-pp-flg="PP_RA_CurrentHour" billing-pp-redo-flg="PP_RA_CurrentHour_Redo">
				<sql>
					<method>getMscList</method>
					<value>select a.*, 0 as volume_download,0 as volume_upload,0 as
						charge_identifier,'' as sgsn_address, '' as ggsn_address, '' as
						pdp_address,''as file_name from calls_nodup a where call_time >= ?
						and call_time &lt; ? and call_type in (1,2,29) and
						charge_indicator=1</value>
				</sql>
				<sql>
					<method>getMscListRedo</method>
					<value>select a.*, 0 as volume_download,0 as volume_upload,0 as
						charge_identifier,'' as sgsn_address, '' as ggsn_address, '' as
						pdp_address,''as file_name from calls_nodup_redo a where call_time
						>= ? and call_time &lt; ? and call_type in (1,2,29) and
						charge_indicator=1</value>
				</sql>
				<sql>
					<method>getBillingList</method>
					<value>select * from ra_billing where call_time >= ? and call_time
						&lt; ? and billing_type = 2 and call_type in (1,2)</value>
				</sql>
				<sql>
					<!--5: MSC(Roaming) only; 6: TAP OUT only. Notice order -->
					<detail-type>5,6</detail-type>
				</sql>
			</sqls>
		</report>

		<report name="UsageAndRevenueSummary" type="301" isRecon="N">
			<!--0: Disactive; 1: Active -->
			<active>0</active>
			<thread-num>10</thread-num>

			<!--0: No redo; 1: Redo -->
			<redo-switch>0</redo-switch>

			<!--Unit: day -->
			<start-date-before-current>-1</start-date-before-current>
			<start-date-before-redo>-2</start-date-before-redo>
			<execute-days-default>60</execute-days-default>

			<feed-type>101,301</feed-type>
			<call-type>101,102,103,201,202,203,111,112,113,211,212,213
			</call-type>

			<sqls msc-pp-flg="POSTP_Process_CurrentHour" msc-pp-redo-flg="POSTP_Process_CurrentHour_Redo"
				billing-pp-flg="PP_RA_CurrentHour" billing-pp-redo-flg="PP_RA_CurrentHour_Redo">
				<sql>
					<method>getMscList</method>
					<value>select a.*, 0 as volume_download,0 as volume_upload,0 as
						charge_identifier,'' as sgsn_address, '' as ggsn_address, '' as
						pdp_address,''as file_name from calls_nodup a where call_time >= ?
						and call_time &lt; ? and call_type in (1,2,31,30)</value>
				</sql>
				<sql>
					<method>getMscListRedo</method>
					<value>select a.*, 0 as volume_download,0 as volume_upload,0 as
						charge_identifier,'' as sgsn_address, '' as ggsn_address, '' as
						pdp_address,''as file_name from calls_nodup a where call_time >= ?
						and call_time &lt; ? and call_type in (1,2,31,30)</value>
				</sql>
				<sql>
					<method>getBillingList</method>
					<value>select * from ra_billing_nodup where call_time >= ? and
						call_time &lt; ? and billing_type in (1) and call_type in
						(1,2,31,30)</value>
				</sql>
				<sql>
					<method>getBillingListRedo</method>
					<value>select * from ra_billing_nodup where call_time >= ? and
						call_time &lt; ? and billing_type in (1) and call_type in
						(1,2,31,30)</value>
				</sql>
			</sqls>
		</report>

		<report name="InRoamingSummary" type="401" isRecon="N">
			<!--0: Disactive; 1: Active -->
			<active>1</active>
			<thread-num>10</thread-num>

			<!--0: No redo; 1: Redo -->
			<redo-switch>0</redo-switch>

			<!--Unit: day -->
			<start-date-before-current>-1</start-date-before-current>
			<start-date-before-redo>-2</start-date-before-redo>
			<execute-days-default>30</execute-days-default>

			<feed-type>101</feed-type>
			<call-type></call-type>

			<sqls msc-pp-flg="POSTP_Process_CurrentHour" msc-pp-redo-flg="POSTP_Process_CurrentHour_Redo">
				<sql>
					<method>getMscList</method>
					<value>select a.*, 0 as volume_download,0 as volume_upload,0 as
						charge_identifier,'' as sgsn_address, '' as ggsn_address, '' as
						pdp_address,''as file_name from calls_nodup a where call_time >= ?
						and call_time &lt; ? and call_type in (1,2,30,31) and s_imsi!=0
						and s_imsi not like '42506%'</value>
				</sql>
				<sql>
					<method>getMscListRedo</method>
					<value>select a.*, 0 as volume_download,0 as volume_upload,0 as
						charge_identifier,'' as sgsn_address, '' as ggsn_address, '' as
						pdp_address,''as file_name from calls_nodup a where call_time >= ?
						and call_time &lt; ? and call_type in (1,2,30,31) and s_imsi!=0
						and s_imsi not like '42506%'</value>
				</sql>
				<sql>
					<!--13:Inbound Roaming Incoming, 14:Inbound Romaing Outgoing. Notice 
						order -->
					<detail-type>13,14</detail-type>
				</sql>
			</sqls>
		</report>

		<report name="InterconnectRevenue" type="304" isRecon="N">
			<!--0: Disactive; 1: Active -->
			<active>1</active>
			<thread-num>10</thread-num>

			<!--0: No redo; 1: Redo -->
			<redo-switch>0</redo-switch>

			<!--Unit: day -->
			<start-date-before-current>-1</start-date-before-current>
			<start-date-before-redo>-2</start-date-before-redo>
			<execute-days-default>30</execute-days-default>

			<feed-type>101</feed-type>
			<call-type></call-type>

			<sqls msc-pp-flg="POSTP_Process_CurrentHour" msc-pp-redo-flg="POSTP_Process_CurrentHour_Redo">
				<sql>
					<method>getMscList</method>
					<value>select * from calls_nodup where call_type in (1,2,27,28,29) and call_time >= ? and call_time &lt;= ?</value>
				</sql>
				<sql>
					<method>getCdrDetailList</method>
					<value>select * from cdr_detail where call_type in(1,2,27,28,29) and duplicated = 0 and (in_traffic_type in(3) or out_traffic_type in(3))</value>
				</sql>
			</sqls>
		</report>

	</report-list>
</ra-core>
